fastapi
uvicorn[standard]
python-multipart
sqlalchemy
alembic
pydantic
pydantic[email]
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
celery
redis
requests
httpx
groq
sentence-transformers
faiss-cpu
transformers[torch]
pdfminer.six
python-docx
spacy
weasyprint
pytest
pytest-mock
